<ul>
  <li><a href="#tabs-1">Personal account information</a></li>
  <li><a href="#tabs-2">Domains</a></li>
  <li><a href="#tabs-3">Balance</a></li>
  <li><a href="#tabs-4">Default NS names</a></li>
</ul>

  <div id="tabs-1">

    <%= render 'personal_information' %>

  </div>

  <div id="tabs-2">

    <%= render 'listing_domains' %>

  </div>

  <div id="tabs-3">

    <%= render 'balance_information' %>

  </div>

  <div id="tabs-4">

    <%= render 'ns_names_information' %>

  </div>












