#main_menu {
            float: left;
            width: 14%;
            height: 100%;
            z-index: 1000;
}

 

#content {
            float: right;
            width: 85%;
            height: 100%;
}
